/*
	Загрузка шрифтов - Начало
*/
@font-face {
	font-family: "PT sans";
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/ptsans.woff2') format('woff2');
	font-display: swap;
}
/* PT Sans bold */
@font-face {
	font-family: "PT sans";
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/ptsansbold.woff2') format('woff2');
	font-display: swap;
}
/* PT Sans italic */
@font-face {
	font-family: "PT sans";
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/ptsansitalic.woff2') format('woff2');
	font-display: swap;
}
/* PT Sans italic bold */
@font-face {
	font-family: "PT sans";
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/ptsansbolditalic.woff2') format('woff2');
	font-display: swap;
}
/* PT Sans Narrow bold */
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2");
  font-display: swap;
}
/*
	Загрузки шрифтов - Завершение
*/

/* обнуление отступов, заданных по умолчанию в браузере, у всех элементов
* {						
	margin: 0;
} */
h1, h2, h3, h4, h5 {
	margin: 0;
}
input {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin: 0;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #242424;
	background-color: #FBF7F4;
	background-image: url('../images/bg-noisy-texture-light.png');
}

.main-flex-grow {
	flex-grow: 1;
}
/* Все ссылки на сайте */
a {
	color: inherit;
} 

/* Все кнопки на сайте */
.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 14px 20px;
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	color: #FFFFFF;
	background-color: #000;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}

.button.button-all {
	padding-right: 44px;
	background-image: url('/images/arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center right 20px;
}

.button:hover,
.footer-social-item .button:hover {
  background-color: #814B18;
}

.button:focus,
.footer-social-item .button:focus {
  outline: 2px solid #DBB590;
  background-color: #4E2E0E;
}

.button:disabled {
  color: #E7E7E7;
  background-color: #595959;
}

.button:disabled:hover {
  background-color: #595959;
  outline: none;
  cursor: default;
}

.button-feedback {
  color: #242424;
  background-color: #FFFFFF;
}

.button-feedback:hover {
  background-color: #DBB590;
}

.button-feedback:focus {
  outline: 2px solid #AF7842;
  background-color: #DBB590;
}


.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Шапка сайта */
.page-header {
	color: #fff;
	background-color: #000;
}
.navigation {
	display: flex;
	width: 940px;
	margin: 0 auto;
}
	.navigation-logo {
		display: flex;
		align-items: center;
		width: 140px;
		margin-right: 100px;
	}
	.navigation-list {
		display: flex;
		flex-wrap: wrap;
		width: 430px;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
		.navigation-item {
			position: relative;
		}

		.navigation-link {
			display: block;
			position: relative;
			padding: 24px 20px;
		}
		.navigation-link:hover {
			background-color: #595959;
		}
		.navigation-link:focus {
			box-shadow: inset 0 0 0 4px #e7e7e7;
			outline: none;
		}
		.navigation-link-login {
			padding-left: 44px;
			fill:#DBDBDB;
		}
			.navigation-link-login .navigation-icon {
				right:auto;
				left: 20px;
				margin: auto 0;
			}
			.navigation-icon {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				fill: #DBDBDB;
			}
			.navigation-link:hover .navigation-icon {
				fill: #242424;
			}
			.navigation-link:focus .navigation-icon {
				fill: #dbdbdb;
			}
			.navigation-link-current::before {
				position: absolute;
				height: 4px;
				bottom: 0;
				left: 20px;
				right: 20px;
				content: "";
				background-color: #fff;
			}

	.navigation-user {
		max-width: 250px;
		margin-left: auto;
	}
.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
/* 	outline: 1px solid tomato;
	outline-offset: -1px; */
}
/* Основные интерактивные элементы ввиде ссылок */
.page-header .navigation-link,
.footer-socials a {
	font-family: "PT Sans Narrow", sans-serif;
	line-height: 22px;
	text-decoration: none;
	text-transform: uppercase;
}

	/* Подвал сайта */
.page-footer {
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	background-color: #242424;
	background-image: url('../images/bg-noisy-texture-dark.png');
}
.page-footer-container {
  display: flex;
  width: 940px;
  margin: 0 auto;
	padding: 40px 0;
}
	.footer-contacts {
		width: 200px;
		margin-right: 130px;
	}
			.footer-contacts-logo {
				display: block;
				margin-bottom: 24px;
			}
			.footer-contacts-address {
				margin: 0;
				margin-bottom: 16px;
				font-style: normal;
			}
			.about-text {
				margin: 0;
				margin-bottom: 4px;
			}
			.footer-contacts-address-phone {
				display: block;
			}
			.footer-contacts-map-link {

			}
	.footer-socials {
		margin-left: auto;
		max-width: 190px;
	}
	.footer-title {
		margin-top: 0;
		margin-bottom: 14px;
	}
	.footer-title,
	.footer-contacts-address-phone,
	.footer-contacts-map-link {
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
		font-size: 20px;
		line-height: 28PX;
		text-transform: uppercase;
	}
	.footer-contacts-map-link {
		line-height: 26px;
	}

	.newsletter-form {
		display: flex;
	}
		.newsletter-button {
			width: 56px;
			height: 44px;
			background-image: url('/images/arrow-right.svg');
			background-repeat: no-repeat;
			background-size: 16px 16px;
			background-position: center;
		}

	.footer-social-list {
		display: flex;
		flex-wrap: wrap; 
		margin: 0;
		margin-bottom: 28px;
		padding: 0;
		list-style-type: none;
	}
		.footer-social-item {
			width: 56px;
			height: 44px;
			margin-right: 8px;
			background-color: #000;
		}
				.footer-social-item .button {
					display: block;
					height: 44px;
					margin-bottom: 8px;
					padding: 0;
					background-color: #000000;
					background-repeat: no-repeat;
					background-position: center;
					background-size: 16px 16px;
				}
				.footer-social-tw {
					background-image: url('/images/social-twitter.svg');
				}
				.footer-social-vk {
					background-image: url('/images/socila-vk.svg');
				}
				.footer-social-inst {
					background-image: url('/images/social-instagram.svg');
				}
		.footer-social-item:nth-child(3n) {
			margin-right: 0;
		}		
	.about-text .htmlacademy-link {
		font-family: "PT Sans", sans-serif;
		font-weight: 700;
		color: #DBB590;
		text-transform: none;
	}

/* Главная страница */

.main-index {
	flex-grow: 1;
	padding-top: 64px; 
  padding-bottom: 60px;
	color: #fff;
	background-color: #000;
	background-image: url('../images/index/bg-index.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.page-container {
	width: 940px;
	margin: 0 auto;
}
.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 64px;
}
.index-columns {			/*	Обертка для секций 	*/
	display: flex;
	position: relative;
	justify-content: space-between;
	padding: 40px;
	margin-bottom: 31px;
	color: #242424;
  background-color: #FBF7F4;
	background-image: url('../images/bg-noisy-texture-light.png');
}
.index-columns:last-child {
	margin-bottom: 0;
}
.index-columns::after {
	position: absolute;
	width: 0;
	top: 40px;
	bottom: 40px;
	content: "";
	border-right: 1px dashed #595959;
}
.index-columns:first-of-type::after {
	left: 470px;
}
.index-columns:last-of-type::after {
	left: 430px;
}
	/* Секция список преимуществ */
	.advantages {
		margin-bottom: 58px;
	}
	.advantages-list {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
		list-style-type: none;
		text-align: center;
	}
	/* Заголовки */
.advantages-title {
	position: relative;
  margin-top: 0;
  margin-bottom: 56px;
}
	.advantages-title::before {
		position: absolute;
		width: 18px;
		height: 18px;
		bottom: -40px;
		left: 50%;
		margin-left: -9px;
		background-color: #fff;
		transform: rotate(45deg);
		content: "";
	}
	/* Описание */
.advantages-description {
	margin: 0;
} 
	.advantages-item {
		width: 277px;
	}
	/* Заголовки на главной странице */
	.advantages-title,
	.services-title,
	.gallery-title,
	.contacts-title,
	.appointment-title {
		margin-top: 0;
		font-family: "PT Sans Narrow", sans-serif;
		font-size: 32px;
		line-height: 35px;
		font-weight: 700;
		text-transform: uppercase;
	}

	/*	Секция список услуг */
	.services {
		width: 390px;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
		.services-title {
			margin-bottom: 28px;
		}
		.services-list {
			margin: 0;
			margin-bottom: 30px;
			padding: 0;
			font-size: 20px;
			line-height: 28px;
			list-style-type: none;
		}
		.services-item {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			margin-bottom: 22px;
		 }
		 .services-item::before {
			content:"";
			flex-grow: 1;
			order: 2;
			margin-right: 16px;
			margin-left: 16px;
			border-bottom: 2px dotted #595959;
		 }
				.services-price {
					order: 3;
					color: #af7842;
				}

.gallery {
	width: 390px;
}
	.gallery-title {
		margin-bottom: 20px;
	}
/* Секция контакты */
.contacts {
	width: 352px;
	font-weight: 700;
}
	.contacts-schedule {
		margin: 8px 0;
		padding: 0;
		list-style-type: none;
	}
	.contacts-schedule-item {
	}
	.contacts-title {
		margin-bottom: 24px;
	}
	.contacts-subtitle {
		font-size: 20px;
		line-height: 28px;
		color: #AF7842;
	}
	.contacts-address {
		margin-bottom: 22px;
	}
		.contacts-address-text {
			margin: 8px 0;
		}
		.contacts-phone {
			font-size: 24px;
			line-height: 29px;
			color: #242424;
		}
		.contacts-subtitle,
		.contacts-phone {
			font-family: 'PT Sans Narrow', sans-serif;
			text-transform: uppercase;
		}
		.contacts-navigation {
			margin-top: 21px;
			margin-bottom: 0;
		}
		.button + .button {
			margin-left: 16px;
		}
		.button-feedback {
		}

/* Секция записаться  */
.appointment {
	width: 430px;
}
	.appointment-title {
		margin-bottom: 20px;
	}
	.appointment-text {
		font-size: 14px;
		line-height: 20px;
		color: #595959;
	}
	.appointment-form {
		display: grid;
		grid-template-columns: 114px 74px 208px;
		grid-template-rows: repeat(3, auto);
		gap: 19px 17px;
	}
		.field-group {
			display: flex;
			flex-direction: column;
			margin: 0;
		}
			.appointment-label {
				font-weight: 700;
				font-size: 16px;
				line-height:22PX;
				text-transform: uppercase;
				color: #242424;
			}
		.appointment-form-name {
			grid-column: 1 /-1;
		}
	.appointment-form .button {
		grid-column: 1 / -1;
		justify-self: start;
		padding: 14px 18px 14px 20px;
	}

/* Страница Каталог */
.navigation-logo {
  width: 140px;
  margin-right: 100px;
}

.main-inner {
	padding-top: 40px;
	padding-bottom: 60px;
}

.inner-header-title,				/*	Заголовки на странице */
.catalog-filter-title {
	margin-top: 0;
	font-family: 'PT Sans Narrow';
	font-weight: 700;
	text-transform: uppercase;
}
.inner-header-title {				/* Главный заголовок страницы */
	margin-bottom: 16px;
	font-size: 32px;
	line-height: 35px;
}

/* Навигация дополнительная */
 .breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 22px;
}
	.breadcrumbs-link {
		color: inherit;
	}
	.breadcrumbs-item {
		position: relative;
		margin-right: 32px;
		list-style-type: none;
	}
	.breadcrumbs-item::after {
		position: absolute;
		width: 8px;
		height: 8px;
		top:10px;
		right: -20px;
		background-color: #242424;
		transform: rotate(45deg);
		content: "";
	}
	.breadcrumbs-item:last-of-type::after {
		content: none;
	}
.catalog-products {
	display: flex;
}
.catalog-filter {
  width: 220px;
  margin-right: 20px;
}

/* Фильтры каталога */
.catalog-filter-title {
	font-size: 20px;
	line-height: 28px;
	color: #000000;
}
.control-label {
	font-weight: 700;
	line-height: 22px;
}
.catalog-filter-label {
	line-height: 22px;
	text-align: center;
}

.catalog-right-column {		/* Обертка правой колонки (сортировка, список товаров, пагинация) */
	width: 700px;
}
		/* Секция сортировки */
	.sorting-container {
		display: flex;
		padding: 16px;
		margin-bottom: 16px;
		color: #000000;
		background-color: #FFFFFF;
		box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
	}
				.card-grid-toggle {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 56px;
					height: 44px;
					background-color: #000;
				}
				.card-grid-toggle svg {
					fill: #FFFFFF;
				}
				.card-grid-toggle-current {
					color: #242424;
					background-color: #FFFFFF;
				}
				.card-grid-toggle-current svg {
					fill: #000;
				}
				.card-grid-toggle:hover {
					background-color: #814B18;
				}
				
				.card-grid-toggle:focus {
					outline: 2px solid #DBB590;
					background-color: #4E2E0E;
				}
				.card-grid-toggle:hover svg,
				.card-grid-toggle:focus svg {
					fill: #FFFFFF;
				}
		.sorting-type {
			margin-right: auto;
		}
				.select-control {
					width: 260px;
					height: 44px;
					box-sizing: border-box;
				}

		/* Список товаров*/
	.product-list {
		display: grid;
		grid-template-columns: repeat(3,220px);
		gap: 20px;
		margin: 0;
		padding: 0;
		margin-bottom: 24px;
		list-style-type: none;
	}
		.product-card {
			display: grid;
			grid-template-columns: 16px 188px 16px;
			grid-template-rows: 200px min-content auto min-content 16px;
			background: #FFFFFF;
			box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
		}
		.product-card-link {
			text-decoration: none;
		}
		.product-card-price,
		.product-card-button.button {
			grid-column: 2/3;
		}
		.product-card-button.button {
			padding: 14px 65px;
		}
			.product-card-link.card-image {
				grid-column: 1 /-1;
				background: #F7F7F7;
			}
			.product-card-link.card-title {
				grid-column: 2/3;
				margin-top: 16px;
				margin-bottom: 8px;
			}
			.product-card-title {
				font-size: 16px;
				font-weight: 700;
				line-height: 24px;
			}
		.product-card-price {
			margin-bottom: 16px;
			font-family: 'PT Sans Narrow', sans-serif;
			font-weight: 700;
			font-size: 24px;
			line-height: 29px;
			text-transform: uppercase;
			color: #814B18;
		}

		/* Переключение страниц найденных товаров "Пагинация" */
	.pagination-container {
		display: flex;
		padding: 16px;
		background: #fff;
		box-shadow: 0px 4px 8px rgba(79, 70, 60, 0.16);
	}
		.pagination {
			display: flex;
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
			.pagination-item:not(:Last-child) {
				margin-right: 8px;
			}
				.pagination-link {
					display: block;
					box-sizing: border-box;
					padding: 14px 20px;
					width: 50px;
					height: 44px;
					font-weight: 700;
					font-size: 16px;
					line-height: 100%;
					text-align: center;
					text-transform: uppercase;
					text-decoration: none;
					color: #fff;
					background: #000000;
				}
				.pagination-prev {
					background-image: url('/images/catalog/pagination-prev.svg');
				}
				.pagination-next {
					background-image: url('/images/catalog/pagination-next.svg');
				}
				.pagination-prev,
				.pagination-next {
					background-repeat: no-repeat;
					background-size: 16px 16px;
					background-position: center;
				}
				.pagination-disabled {
					background-color: #595959;
				}
				.pagination-current {
					color: #242424;
					background-color: #fff;
				}
				.pagination-link:hover {
					background-color: #814B18;
				}
				
				.pagination-link:focus {
					outline: 2px solid #DBB590;
					background-color: #4E2E0E;
				}
				
		.pagination-show-more {
			margin-left: auto;
		}